body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    /* writing-mode: vertical-rl; */
}

.header h1 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

.header nav {
    margin-top: 10px;
}

.header nav a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
}

.header nav a:hover {
    text-decoration: underline;
    color: #0056b3;
}
